<div class="nav">
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="/">Home</a></li>
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="/about">About</a></li><br>
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" style="border-bottom: 1px solid;">Projects</li><br>
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="/readdd">Readdd</a></li>
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="/studio-schofield">Studio Schofield</a></li>
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="/james-st">James St</a></li>
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="/james-st">Fraser Stanley</a></li>
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="/james-st">Marchetti Café</a></li>
    </ul>
</div>
<span class="nav-cover"></span>
